/* Nosso estilo css */

@charset "utf8";

body{
    margin-top: 40px;
    padding-top: 40px;
}

.fundo-fixo{
    background: url(../images/Logo_parrilla/fundo-restaurante.jpg) no-repeat fixed;
    -webkit-background-size: cover;
}
